h1 {
    color: hwb(271 17% 11%);
}
p { 
    color:rgb(175, 146, 202);
    font-style: italic;
}
ul{
    list-style-image:url(images/pointer-icon.png)
}
ol{
    list-style-type: upper-roman;
}
#menu-bar a{
    
    font-family: Helvetica, sans-serif;
        text-decoration: none;
        background-color: aquamarine;
        padding: 5px;
    }
    
  #menu-bar a:hover {
        background-color: aqua;
        color: #ffffff;   
    }